{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "false"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    ["module-resolver", {
      "baseUrl": ".",
      "alias": {
        "src": ["./src"],
        "test": "./test"
      }
    }]
  ]
}
