{
  "extends":"standard",
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
    "mocha"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "ActiveXObject": false
  },
  "rules":{
    "semi":[
      "error",
      "always"
    ],
    "space-before-function-paren":[
      "error",
      "never"
    ],
    "indent":[
      "error",
      4
    ],
    "no-return-await": ["off"],
    "mocha/no-exclusive-tests": "error"
  }
}
